.unselectable {
     cursor: default;
     user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
 }
@font-face {
    font-family: 'Bloody';
    font-style: normal;
    font-weight: normal;
    src: local('Bloody'), url('/youmurdererbb_reg.otf') format('truetype');
}
@font-face {
    font-family: 'dimis';
    font-style: normal;
    font-weight: normal;
    src: local('Dimis'), url('/DIMIS.otf') format('truetype');
}
@font-face {
    font-family: 'smallblood';
    font-style: normal;
    font-weight: normal;
    src: local('smallblood'), url('/BLOODY.TTF') format('truetype');
}