//
   Created by dunklesToast on 17.07.2017.
html(lang="de")
    head
        meta(name="viewport", content="width=device-width", initial-scale="1")
        link(rel="stylesheet" href="components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="css/common.css")

        link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="192x192", href="/favicons/android-chrome-192x192.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
        link(rel="manifest", href="/favicons/manifest.json")
        link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#ff0000")
        link(rel="shortcut icon", href="/favicons/favicon.ico")
        meta(name="msapplication-TileColor", content="#b91d47")
        meta(name="msapplication-TileImage", content="/favicons/mstile-144x144.png")
        meta(name="msapplication-config", content="/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")
        meta(name='apple-mobile-web-app-title', content='MURDER')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')


        title MURDER | FINISHED
        style.
            .before {
                color: white;
                position: absolute;
                top: 10%;
                left: 0;
                right: 0;
                text-align: center;
            }
            .noblur {
            font-size: 46px;
            }
    body.unselectable(ng-app='murder' ng-cloak style="height: 100%; background-color: #424242; overflow: hidden")
        div(ng-controller='dashController', style='positon: absolute' )
            div(layout='column', layout-align='space-around center', class="unselectable")
                md-toolbar
                    .md-toolbar-tools
                        span.md-accent(style="font-family: 'Bloody', serif; font-size: 46px") MURDER
                        // fill up the space between left and right area
                        span(flex='')
                        md-button(onclick='window.location = "/logout"' style='width: 0%')
                            md-icon(style='width: 0%') power_settings_new

                div.before(layout='column', layout-align='center center' style='z-index: 5; width: 100%; height: auto')
                    md-card
                        md-card-content
                            h1.noblur(style="font-family: 'luna', serif;font-size: 30px") THE GAME IS OVER
                            h1.noblur(style="font-family: 'luna', serif;font-size: 30px;") AND THE WINNER IS
                            h1.noblur(style="font-family: 'luna', serif;color: red") #{winner}
                            h1.noblur(style="font-family: 'luna', serif; font-size: 30px") CONGRATS


        if(!mobile)
            #canvas
                canvas(style='z-index: -5')


    script(src="components/angular/angular.min.js")
    script(src="components/angular-animate/angular-animate.min.js")
    script(src="components/angular-aria/angular-aria.min.js")
    script(src="components/angular-messages/angular-messages.min.js")
    script(src="components/angular-material/angular-material.min.js")
    script(src="components/js-sha512/build/sha512.min.js")
    script(src="js/injectScript.js")
    script(src="js/finish.js")
    script.
        var strokeStyle = '#69F0AE';
    script(src="js/canvas.js")