//
   Created by dunklesToast on 17.07.2017.

html(lang="de")
    head
        meta(name="viewport", content="width=device-width", initial-scale="1")
        link(rel="stylesheet" href="components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="components/angular-material-data-table/dist/md-data-table.min.css")
        link(rel="stylesheet" href="css/common.css")

        link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="192x192", href="/favicons/android-chrome-192x192.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
        link(rel="manifest", href="/favicons/manifest.json")
        link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#ff0000")
        link(rel="shortcut icon", href="/favicons/favicon.ico")
        meta(name="msapplication-TileColor", content="#b91d47")
        meta(name="msapplication-TileImage", content="/favicons/mstile-144x144.png")
        meta(name="msapplication-config", content="/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")

        title MURDER | #{user.username}
        style.
            body, html {
                padding: 0;
                margin: 0;
            }

            .header {
                font-size: 4em;
                color: white;
                letter-spacing: 2px;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
            }

            .normal {
                font-size: 12px;
                color: white;
                text-align: center;
            }
    body.unselectable(ng-app='murder' ng-cloak style="height: 100%; overflow-x: hidden; background-color: #424242")
        div(ng-controller='dashigController')
            div(layout='column', layout-align='space-around center', class="unselectable")
                md-toolbar
                    .md-toolbar-tools
                        span.md-accent(style="font-family: 'Bloody', serif; font-size: 46px; width: 0%") MURDER
                        span(flex='')
                        md-button(onclick='window.location = "/logout"' style='width: 0%')
                            md-icon(style='width: 0%') power_settings_new

            div.header(layout='column', layout-align='start center')

                if(user.victim && user.alive)
                    p(style='font-size: 70px; font-family: "smallblood"') YOUR VICTIM IS
                        p(style='font-size: 70px; font-family: "smallblood"; color: red; margin-top: -40px') #{user.victim}
                    md-card.normal(style='width: 365px; margin-top: -150px')
                        md-card-content
                            p(style='font-size: 70px; font-family: "Bloody"') TOP3
                            p(style='font-size: 70px; font-family: "Bloody"; margin-top: -100px') Murderers
                            md-divider(style='margin-top: -60px')
                            md-table-container
                                table(md-table='', md-row-select='options.rowSelection', multiple='{{options.multiSelect}}', ng-model='selected', md-progress='promise')
                                    thead(ng-if='!options.decapitate', md-head='', md-order='query.order', md-on-reorder='logOrder')
                                        tr.md-row
                                            th.md-column(md-order-by='name')
                                                span Name
                                            th.md-column(md-order-by='type')
                                                span Murdered
                                            th.md-column
                                                span Info
                                    tbody.md-body
                                        tr.md-row(md-select='dessert', md-on-select='logItem', md-auto-select='options.autoSelect', ng-repeat='dessert in top3')
                                            td.md-cell {{dessert.name}}
                                            td.md-cell(style='text-align: center') {{dessert.kills}}
                                            td.md-cell
                                                md-button.md-icon-button(ng-click='openInfo(dessert.id)')
                                                    md-icon info_outline


                else
                    p(style='font-size: 70px; font-family: "bloody"') MURDER
                    p(style='font-size: 30px; font-family: "bloody"; margin-top: -50px; color: red') You were already killed.
                    md-card.normal(style='width: 365px')
                        md-card-content
                            p(style='font-size: 70px; font-family: "Bloody"') TOP3
                            p(style='font-size: 70px; font-family: "Bloody"; margin-top: -100px') Murderers
                            md-divider(style='margin-top: -60px')
                            md-table-container
                                table(md-table='', md-row-select='options.rowSelection', multiple='{{options.multiSelect}}', ng-model='selected', md-progress='promise')
                                    thead(ng-if='!options.decapitate', md-head='', md-order='query.order', md-on-reorder='logOrder')
                                        tr.md-row
                                            th.md-column(md-order-by='name')
                                                span Name
                                            th.md-column(md-order-by='type')
                                                span Murdered
                                            th.md-column
                                                span Info
                                    tbody.md-body
                                        tr.md-row(md-select='dessert', md-on-select='logItem', md-auto-select='options.autoSelect', ng-repeat='dessert in top3')
                                            td.md-cell {{dessert.name}}
                                            td.md-cell(style='text-align: center') {{dessert.kills}}
                                            td.md-cell
                                                md-button.md-icon-button(ng-click='openInfo(dessert.id)')
                                                    md-icon info_outline
                                md-button.md-raised(ng-click='openAllInfo()') View More

                if(user.alive)
                    md-card.normal(style='width: 365px')
                        md-card-content
                            div(ng-click='deathDialog($event)')
                                md-button.md-fab
                                    md-icon(md-svg-icon='/skull.svg')
                                p I WAS KILLED
                else
                    md-card.normal(style='width: 365px')
                        md-card-content
                            p You were already killed by #{user.killed_by}


            if(mobile)
                #canvas
                    canvas(style='z-index: -5')

script(src="components/angular/angular.min.js")
script(src="components/angular-animate/angular-animate.min.js")
script(src="components/angular-aria/angular-aria.min.js")
script(src="components/angular-messages/angular-messages.min.js")
script(src="components/angular-material/angular-material.min.js")
script(src="components/js-sha512/build/sha512.min.js")
script(src="components/angular-material-data-table/dist/md-data-table.min.js")
script(src="js/dashingame.js")
script.
    var strokeStyle = '#69F0AE';
script(src="js/canvas.js")