//
   Created by dunklesToast on 16.07.2017.

html(lang="de")
    head
        meta(name="viewport", content="width=device-width", initial-scale="1")
        link(rel="stylesheet" href="components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="components/material-design-icons/iconfont/material-icons.css")
        link(rel="stylesheet" href="css/common.css")

        link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="192x192", href="/favicons/android-chrome-192x192.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
        link(rel="manifest", href="/favicons/manifest.json")
        link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#ff0000")
        link(rel="shortcut icon", href="/favicons/favicon.ico")
        meta(name="msapplication-TileColor", content="#b91d47")
        meta(name="msapplication-TileImage", content="/favicons/mstile-144x144.png")
        meta(name="msapplication-config", content="/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")
        meta(name='apple-mobile-web-app-title', content='MURDER')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')


        title MURDER | Register

    body.unselectable(ng-app='murder' ng-cloak style="height: 100%")
        div(ng-controller='regController', md-theme='{{theme}}', md-theme-watch='true', )
            div(layout='column', layout-align='space-around center', class="unselectable")
                md-toolbar
                    .md-toolbar-tools
                        span.md-accent(style="font-family: 'Bloody', serif; font-size: 46px") MURDER
                        // fill up the space between left and right area
                        span(flex='')
                        md-button(a href="https://instagram.dunklesToast.de/impressum.html", target='_blank')
                            | Impressum

                div(layout='row', layout-align='center center', style="min-height: 75%")
                    md-card
                        md-card-content
                            h1(style="font-family: 'Bloody', serif; font-size: 46px") Register for MURDER
                            p Plz fill out
                            md-input-container
                                label full name
                                md-icon person
                                input(name='full', ng-model='user.full', id='full', type='text', ng-change="check(full)", md-auto-focus='')
                            md-input-container
                                label username
                                md-icon person
                                input(name='username', ng-model='user.username', id='username', type='text', ng-change="check(username)", md-auto-focus='')
                            md-input-container
                                label mail
                                md-icon mail
                                input(name='mail', ng-model='user.mail', id='mail', type='text', ng-change="check(mail)", md-auto-focus='')
                            br
                            md-input-container
                                label password
                                md-icon lock
                                input(name='password', ng-model='user.password', id='password', type='password', ng-change="check(password)")
                            md-input-container
                                label password confirm
                                md-icon check
                                input(name='passwordc', ng-model='user.passwordc', id='passwordc', type='password', ng-change="check(passwordc)")
                            md-checkbox(ng-model='user.tos', aria-label='I am at the NTA 2017', ng-change="check(tos)")
                                | Participant of NTA 2017?
                            div(layout="column")
                                md-button(type='submit', class="md-raised md-primary unselectable", ng-disabled="regdis" ng-click="sendReg()")
                                    | Submit
                                p Button not active?
                                ul
                                    li Password more than 8 Characters?
                                    li Checkfield marked?
                                md-divider
                                p Already have an Account?
                                md-button(type='submit', class="md-raised md-accent unselectable", onclick="window.location='/'")
                                    | Login

    script(src="components/angular/angular.min.js")
    script(src="components/angular-animate/angular-animate.min.js")
    script(src="components/angular-aria/angular-aria.min.js")
    script(src="components/angular-messages/angular-messages.min.js")
    script(src="components/angular-material/angular-material.min.js")
    script(src="components/js-sha512/build/sha512.min.js")
    script(src="js/reg.js")