<md-dialog aria-label="info">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Murder Info</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!murder.death">
                    <h2>{{murder.full}}
                        <md-icon style="fill: red; color: red">favorite</md-icon>
                    </h2>
                    <p>Kills: {{murder.kills}}</p>
                    <p>Username: {{murder.username}}</p>
                </div>
                <div ng-if="murder.death">
                    <h2>{{murder.full}}
                        <md-icon style="fill: black; color: black" md-svg-icon='/skull.svg'></md-icon>
                    </h2>
                    <p>Kills: {{murder.kills}}</p>
                    <p>Username: {{murder.username}}</p>
                    <p>Died: {{murder.death_time}}</p>
                    <p>Reason: {{murder.death_msg}}</p>
                    <p>Location: {{murder.death_loc}}</p>
                    <p>Murderer: {{murder.killedBy}}</p>
                </div>
            </div>
            <md-divider></md-divider>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-accent" ng-click="answer(true)" ng-disabled="sendDisabled">
                Close
            </md-button>
            <md-divider></md-divider>
        </md-dialog-actions>
    </form>
</md-dialog>